#rt-picked-monsters-questions-instructions {
    margin: auto;
    width: 60%;
    text-align: center;
}

#rt-picked-monsters-questions-instructions h1 {
    margin-top: 200px;
    margin-bottom: 70px;
    font-size: xx-large;
}

#rt-picked-monsters-questions {
    margin: auto;
    width: 90%;
    text-align: center;
}

#rt-picked-monsters-questions img {
    display: inline-block;
    margin: 15px;
    width: 120px;
    height: 120px;
}

#rt-picked-monsters-questions h1 {
    margin-top: 30px;
}

#rt-picked-monsters-questions img {
    border: 7px solid transparent;
}

#rt-picked-monsters-questions img[data-selected="true"] {
    border-color: red;
}

#rt-picked-monsters-questions img[data-selected="false"] {
    border-color: transparent;
}